@import "tailwindcss";

@theme {
  /* */
  --color-background: #f7fafc;

  --color-primary-txt: #0d141c;
  --color-secondary-txt: #ffffff;
  --color-accent-txt: #4f7396;

  --color-primary: #1a80e5;
  --color-secondary: #e8edf2;

  --color-primary-900: #10197a;
  --color-primary-800: #1a2793;
  --color-primary-700: #2a3bb7;
  --color-primary-600: #3d53db;
  --color-primary-500: #546fff;
  --color-primary-400: #7e95ff;
  --color-primary-300: #98abff;
  --color-primary-200: #bac8ff;
  --color-primary-100: #dce4ff;
  --color-primary-0: #ffffff;

  --color-success-900: #3b6506;
  --color-success-800: #4c7a0b;
  --color-success-700: #659711;
  --color-success-600: #7fb519;
  --color-success-500: #9cd323;
  --color-success-400: #bce455;
  --color-success-300: #d3f178;
  --color-success-200: #e8faa6;
  --color-success-100: #f5fcd2;

  --color-error-900: #7a0619;
  --color-error-800: #930b16;
  --color-error-700: #b71112;
  --color-error-600: #db2719;
  --color-error-500: #ff4423;
  --color-error-400: #ff7f59;
  --color-error-300: #ffa37a;
  --color-error-200: #ffc8a6;
  --color-error-100: #ffe7d3;

  --color-warning-900: #7a4d0b;
  --color-warning-800: #936312;
  --color-warning-700: #b7821d;
  --color-warning-600: #dba32a;
  --color-warning-500: #ffc73a;
  --color-warning-400: #ffd96b;
  --color-warning-300: #ffe488;
  --color-warning-200: #ffefb0;
  --color-warning-100: #fff8d7;

  --color-info-900: #102e7a;
  --color-info-800: #1a4393;
  --color-info-700: #2a60b7;
  --color-info-600: #3d81db;
  --color-info-500: #54a6ff;
  --color-info-400: #7ec2ff;
  --color-info-300: #98d3ff;
  --color-info-200: #bae5ff;
  --color-info-100: #dcf3ff;

  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
